body {
  background-color: rgb(0, 0, 0);
}

.container {
  width: 300px;
  height: 300px;
  margin: 50px;
}

.person {
  position: absolute;
  top: 150px;
  left: 160px;
  animation: sprint 3s infinite ease-in;
}

.head {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 5px solid #fff;
  border-radius: 50%;
  top: -30px;
  left: -6px;
  animation: bob 2s infinite alternate;
}

.torso {
  width: 0;
  height: 60px;
  border-left: 5px solid #fff;
  position: absolute;
  left: 0px;
  top: 15px;
}

.person .part {
  position: absolute;
  left: 0;
  top: 75px;
}

.person .part.arm {
  width: 40px;
  height: 45px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  position: absolute;
  top: 15px;
  right: 300px;
  transform-origin: 0% 0% 0px;
  animation: pump 1s infinite ease-in-out;
}

.person .part.arm.left {
    transform: rotate3d(0,0,1,80deg);
}

.person .part.arm.right {
    transform: rotate3d(0,0,1,-80deg);
    animation-delay: 0.5s;
}

.person .part.leg {
  width: 60px;
  height: 60px;
  border-right: 5px solid #fff;
  border-top: 5px solid #fff;
  transform-origin: 0% 0% 0px;
  animation: run 1s infinite ease-in;
}

.person .part.leg.left {
    transform: rotate3d(0,0,1,100deg);
}

.person .part.leg.right {
    transform: rotate3d(0,0,1,10deg);
    animation-delay: 0.5s;
}

/* 头部动画 */
@keyframes bob {
    0% {
        transform: rotate3d(0,0,1,5deg);
    }
    25% {
        transform: rotate3d(0,0,1,-30deg) skew(15deg,0deg);
    }
    50% {
        transform: rotate3d(0,0,1,5deg);
    }
    75% {
        transform: rotate3d(0,0,1,-30deg) skew(15deg,0deg);
    }
    100% {
        transform: rotate3d(0,0,1,20deg) skew(-15deg,0deg);

    }
}

/* 胳膊摆动 */
@keyframes pump {
    0% {
        transform: rotate3d(0,0,1,80deg);
    }
    50% {
        transform: rotate3d(0,0,1,-70deg);
    }
    100% {
        transform: rotate3d(0,0,1,80deg);
    }
}

/* 脚跑动 */
@keyframes run {
    0% {
        transform: rotate3d(0,0,1,-5deg);
    }
    50% {
        transform: rotate3d(0,0,1,150deg);
    }
    100% {
        transform: rotate3d(0,0,1,-5deg);
    }
}

/* 让人物跑起来 */
@keyframes sprint {
  0% {
    transform: translate(-300px,0px);
  }
  100% {
    transform: translate(1800px,0px);
  }
}